<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>create</title>
</head>
<body>

<br>
<div class="card">
  <h5 class="card-header">Create store</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Create" class="btn btn-outline-success">
        </form>
    </p>
  </div>
</div>

</body>
</html>